  <div class="container"> 
    
     <h1><%= title %></h1>
   <br>
   <div class="card" style="width: 10rem;">
      <img src="/assets/images/01Pic.jpg" class="card-img-top" alt="01Pic" width="200">
    </div>

    <div class="card-body">
      <p class="card-text">Name: Geejay Damasco </p> 
      <p>I'm a student in the Software Engineering Technician program at Centennial College. 
         Previously, I studied at Rizal Technological University in Mandaluyong City, Philippines and graduated in BS Computer Engineering course.
         As a backend developer, I am challenged and excited to learn about Web applications. </p>
    </div>

  </div>
     